## Loading the libraries

In [1]:
import pandas as pd
import numpy as np

### Creating Series

In [2]:
series=pd.Series([1,2,4])
print(series.dtype)

int64

In [3]:
s2=pd.Series(['asd','dfg','vbn'])
print(s2.dtype)

object

In [4]:
s3=pd.Series(['asd',True,1,23])
print(s3.dtype)

object

### Converting series to list

In [5]:
print(series.tolist())

[1, 2, 4]

In [6]:
print(s2.tolist())

['asd', 'dfg', 'vbn']

In [7]:
print(s3.tolist())

['asd', True, 1, 23]

### Creating empty DataFrame

In [8]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

### Creating DataFrame using list of lists

In [9]:
names=[['Anu',22],['Suja',53],['Aarohi',23],['Elsa',23],['Maya',67]]
df=pd.DataFrame(names,columns=['Name','Age'])
print(df)

     Name  Age
0     Anu   22
1    Suja   53
2  Aarohi   23
3    Elsa   23
4    Maya   67

### Creating DataFrame using Dictionaries

In [10]:
names={'Name':['Anu','Suja','Aarohi','Elsa','Maya'],\
      'Age':[23,45,67,45,56]}
df1=pd.DataFrame(names)
print(df1)

     Name  Age
0     Anu   23
1    Suja   45
2  Aarohi   67
3    Elsa   45
4    Maya   56

### Creating DataFrame using list of Dictionaries

In [11]:
names=[{'Name':'Anu','Age':45,'Gender':'F'},\
      {'Name':'Elsa','Age':23,'Gender':'F'},\
       {'Name':'Akshay','Age':30,'Gender':'M'},\
       {'Name':'Manu','Age':31,'Gender':'M'},\
      {'Name':'Vava','Age':22,'Gender':'F'}]
df2=pd.DataFrame(names)
print(df2)

     Name  Age Gender
0     Anu   45      F
1    Elsa   23      F
2  Akshay   30      M
3    Manu   31      M
4    Vava   22      F

### Creating DataFrame using list of Dictionaries with null values

In [12]:
names1=[{'Name':'Anu','Age':45,'Gender':'F'},\
      {'Name':'Elsa','Age':23,'Gender':'F'},\
       {'Name':'Akshay','Age':30,'Gender':'M'},\
       {'Name':'Manu'},\
      {'Name':'Vava','Gender':'F'}]
df3=pd.DataFrame(names1)
print(df3)

     Name   Age Gender
0     Anu  45.0      F
1    Elsa  23.0      F
2  Akshay  30.0      M
3    Manu   NaN    NaN
4    Vava   NaN      F